/**
 * Variables
 */

// Colors
$lilac: #ECEBF9;
$white: #FFFFFF;
$athens-gray: #F4F4F5;
$mercury: #E5E5E5;
$mischka: #D7D8DF;
$black: #0E0C22;
$purple: #9E57E4;
$waterloo: #818094;
$mulled-wine: #4D4A6D;
$porcelain: #F7F8F9;
$graysuit: #BEBDCB;
$mirage: #1E1C36;
$haiti: #141131;
$pad: 8px;
$transition: all cubic-bezier(.62,.01,.01,1) 300ms;

// Font Weight
$normal: 400;
$medium: 500;
$bold: 700;

// Font Family
$font-family: Rubik, Segoe UI, Roboto, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

// Box Shadow
$box-shadow: 0 10px 10px 0 rgba(0,0,0, 0.02)