@import './reset.scss';
@import '~modularscale-sass/stylesheets/modularscale';
@import './variables.scss';
@import './mixins.scss';

//modular-scale
$modularscale: (
  base: 12px,
  ratio: 1.2,
);

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: $font-family;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
  font-family: $font-family;
}

*:before, *:after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  line-height: 1.618;
  font-size: ms(1);
  font-weight: $medium;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.618;
  text-rendering: optimizeLegibility;
  font-family: $font-family;
}

h1 {
  font-size: ms(6);
}

h2 {
  font-size: ms(5);
}

h3 {
  font-size: ms(4);
}

h4 {
  font-size: ms(3);
}

h5 {
  font-size: ms(2);
}

h6 {
  font-size: ms(1);
}

b {
  margin: 0;
  padding: 0;
  font-weight: $medium;
  text-rendering: optimizeLegibility;
}

strong {
  margin: 0;
  padding: 0;
  font-weight: $bold;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

input:hover, input:focus, input:active {
  outline: none;
}